<!DOCTYPE html>
<html ng-app="app">
<head>
  <title>$http Interceptor Demo</title>
  <link href="/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .alert ul {
      padding: 0;
      list-style: none;
    }

    .request-box {
      max-height: 700px;
      overflow-y: scroll;
      overflow-x: hidden;
    }
  </style>
</head>
<body ng-controller="ctrl">
  <div class="container">
    <div class="row">
      <h1>$http Demo</h1>
      <p>
      <strong>Secure Mode: </strong>
      <span>On </span>
      <input type="radio" name="secureToggle" ng-value="true" ng-model="secure">
      <span>Off </span>
      <input type="radio" name="secureToggle" ng-value="false" ng-model="secure" checked>
      </p>
      <button class="btn btn-default" ng-click="makeValidRequest()">Reliable Request</button>
      <button class="btn btn-default" ng-click="makeBadRequest()">Unreliable Request</button>
      <button class="btn btn-default" ng-click="login()">Login</button>
    </div>
    <div class="row">
      <div class="col-xs-8">
        <h2>Response</h2>
        <div class="alert alert-success" ng-show="response">
          <p>{{ response | json }}</p>
        </div>
        <h2>Error</h2>
        <div class="alert alert-danger" ng-show="error">
          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span> {{ error.message }}
        </div>
      </div>
      <div class="col-offset-1 col-xs-3">
        <h2>Requests</h2>
        <request-logger></request-logger>
      </div>
    </div>
  </div>
  <script src="/js/angular.min.js"></script>
  <script src="/js/authHandler.module.js"></script>
  <script src="/js/retryInterceptor.module.js"></script>
  <script src="/js/requestLogger.module.js"></script>
  <script src="/js/app.js"></script>
</body>
</html>